@import 'tailwindcss';

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}

@theme {
  /* Map Mantine primary colors to Tailwind primary scale */

  --color-primary: var(--mantine-primary-color-5);

  --color-primary-50: var(--mantine-primary-color-0);
  --color-primary-100: var(--mantine-primary-color-1);
  --color-primary-200: var(--mantine-primary-color-2);
  --color-primary-300: var(--mantine-primary-color-3);
  --color-primary-400: var(--mantine-primary-color-4);
  --color-primary-500: var(--mantine-primary-color-5);
  --color-primary-600: var(--mantine-primary-color-6);
  --color-primary-700: var(--mantine-primary-color-7);
  --color-primary-800: var(--mantine-primary-color-8);
  --color-primary-900: var(--mantine-primary-color-9);
}